header {
	display: inline-flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

div {
	border: 1px solid black;
}

p {
	display: block;
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 30px;
	border: 1px solid black;
}

.logo span {
	color: MediumAquamarine;
}

.logo img {
	width: 70px;
	height: 60px;
	margin-right: 12px;
}

a {
	color: black;
}

nav {
	padding-right: 40px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

body {
	margin: 0;
}

.container {
	display: flex;
	width: 1232px;
	margin: 0 auto 78px auto;
	padding-top: 116px;
}

.column {
	display: inline-flex;
	flex-direction: column;
	margin-right: 32px;
}

.column.large {
	display: block;
	width: 630px;
	border: 1px solid black;
}

.column.medium {
	display: block;
	width: 300px;
	border: 1px solid black;
}

.column.small {
	display: block;
	width: 240px;
	border: 1px solid black;
}

.cookie {
	justify-content: center;
}