header {
	display: flex;
	position: fixed;
	width: 100%;
	padding: 5px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	border-bottom: ;
}

h3.title {
	color: MediumAquamarine;
}

#logo {
	justify-content: flex-start;
}